.frame{
  cursor: pointer;       /* cursor-pointer */
  user-select: none;     /* select-none */
  background: transparent; /* bg-transparent */
  border: 0;             /* border-0 */
  padding: 0;            /* p-0 */
  line-height: 0;        /* optional to remove vertical spacing */
  position: absolute;
  width: 150%;
  top:-65px;
  left:5px;
}


@media screen and (max-width: 768px) {
    .frame{
        top:-48px;
        left:3px;
    }
}


@media screen and (max-width: 430px) {
    .frame{
        top:-36px;
        left:3px;
    }
}